.language-toggle-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  z-index: 5050505;
  background-color: #1a1c20;
}

.language-toggle-area:hover {
  background-color: #1a1c20;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 4px;
  transition: transform 0.2s;
  z-index: 5050505;
}

button:hover {
  transform: scale(1.05);
}
