<div>
  <!-- ============================= -->
  <!-- Splash Screen                -->
  <!-- ============================= -->
  <div class="splash-screen splash">
    <app-language-toggle></app-language-toggle>
    <h1>{{ "APP_NAME" | translate }}</h1>
    <button routerLink="/result" mat-flat-button color="accent">
      {{ "BOOK_FLIGHT" | translate }}
    </button>
  </div>
</div>

<div class="splash-screen" *ngIf="loading">
  <!-- ============================= -->
  <!-- Loading Screen               -->
  <!-- ============================= -->
  <div class="loading-container">
    <button
      routerLink="/result"
      mat-flat-button
      color="accent"
      class="loading-button"
    >
      {{ "GET_FLIGHT" | translate }}
    </button>
  </div>
</div>
