.card {
  background-color: #282c34;
  margin: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.section-2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.card-header {
  background-color: #f0f0f0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section1 {
  margin-top: 24px;
}

.info-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  color: white;
}

.info-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info-box {
  padding: 16px;
  margin: 8px;
  background-color: #4a4a4a;
  border-radius: 4px;
  transition: background-color 0.3s, box-shadow 0.3s;
  font-size: 20px;
  color: white;
  flex: 1 1 calc(30% - 16px);
  max-width: calc(30% - 16px);
  font-weight: bold;
}

.info-box:hover {
  background-color: #393939;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.mat-card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.mat-card-subtitle {
  color: rgba(0, 0, 0, 0.54);
}

.mat-card-actions {
  display: flex;
  justify-content: space-between;
}

.line-group {
  display: flex;
  align-items: center;
  width: 400px;
}

.line {
  height: 3px;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.circle1,
.circle2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  opacity: 0.5;
  background-color: white;
}

.small-airPlane {
  transform: rotate(90deg);
  z-index: 51;
}

.small-airPlane-container {
  width: 30px;
  height: 30px;
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.airline-logo {
  width: 50px;
  height: auto;
  margin-right: 8px;
}

.duration-line-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.actions {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  width: 100%;
}

@media (max-width: 768px) {
  .info-box {
    flex: 1 1 calc(48% - 16px);
    max-width: calc(48% - 16px);
  }

  .line-group {
    width: 100%;
  }

  .info-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: white;
  }
}

@media (max-width: 480px) {
  .info-box {
    flex: 1 1 calc(100% - 16px);
    max-width: calc(100% - 16px);
  }

  .line-group {
    width: 100%;
  }

  .info-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: white;
  }

  .card {
    margin: 8px;
  }
}

.plane-container {
  position: relative;
  width: 40px;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plane {
  position: absolute;
  transition: transform 0.3s ease;
}

.info-group:hover .plane {
  transform: translateX(80px);
}

